# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build Artifacts
dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite Cache (Optional, often inside node_modules)
.vite/

# Editor-specific files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Metadata
.DS_Store
Thumbs.db

